<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.comps456f">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chapter1" />
        <activity android:name=".Chapter2" />
        <activity android:name=".Chapter3" />
        <activity android:name=".CreatePost" />
        <activity android:name=".ReadPost" />

        <activity android:name=".RegisterPage" />
        <activity android:name=".LoginPage" />
        <activity android:name=".QuizPage" />
        <activity android:name=".Category1" />
        <activity android:name=".Discuss_tab" />
        <activity android:name=".teacher_cardview"/>
        <activity android:name=".ReadNewPost"/>

        <activity android:name=".Chapter0"></activity>
        <activity android:name=".Quiz0"></activity>
        <activity android:name=".Quiz1"></activity>
        <activity android:name=".Quiz2"></activity>
        <activity android:name=".Quiz3"></activity>
        <activity android:name=".TeacherPage"></activity>



        <activity android:name=".Notification">
            <intent-filter>
                <action android:name="app.comps456f_TARGET_NOTIFICATION"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <receiver android:name=".BroadCast.NotificationReceiver"/>

        <service
            android:name=".FirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".FirebaseMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>